.students-ListRow td {
  border-bottom: 1px solid #E2E2E2;
}

table {
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
  spacing: 0px;
}

td {
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
  spacing: 0px;
}

th, td {
  padding: 0px;
}
  
td.add-contact-label {
  text-align: left;
}

add-contact-input {
  border: 1px solid red;
  border-collapse: collapse;
  margin-right: 0px;
  margin-left: auto;
}
  
td.students-NavContainer {
  padding-left: 10px;
  padding-right: 10px;
}

td.students-ListMenu {
  background-color: #D0E4F6;
  padding-bottom: 6px;
  padding-top: 6px;
  padding-left: 6px;
}

td.students-ListContainer {
  padding-right: 10px;
}

.students-HeaderContainer {
  padding-right: 10px;
}

td.students-ListCheckbox {
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
}

td.students-ListName {
  padding-top: 2px;
  padding-bottom: 2px;
}

.gwt-DecoratorPanel .middleCenter {
   height: 100%;
   width: 100%;
 }
 